pytest==6.2.3
Werkzeug==1.0.1
gunicorn==20.0.4
apispec==4.3.0
apispec-webframeworks==0.5.2

pymongo==3.11.3
marshmallow==3.11.1
marshmallow-mongoengine==0.30.2

Flask==1.1.2
flask-marshmallow==0.14.0
flask-swagger-ui==3.36.0
flask-mongoengine==1.0.0
